/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MAIN VERSION ---------992px <= DESKTOP <= 1400px -------------- 
++++++++++++++
++++++++++++++
++++++++++++++
*/



/* BODY (DESKTOP) -------------------------------------------------------------- */

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    font-family: raleway, sans-serif;
    font-size: 100%;
}

/* GLOBAL (DESKTOP) -------------------------------------------------------------- */

.sections-wrapper {
    padding: 0 2.5%;
}

a {
    text-decoration: none;
    color: black;
}
h1, h2 {
    font-weight: 700;
    font-size: 22px;
}
h3 {
    font-weight: 700;
    font-size: 16px;
}
p {
    font-weight: 400;
    font-size: 16px;
}
.blue-icon {
    color:#0065fc;
}
.grey-icon {
    color:#F2F2F2;
}

/* HEADER (DESKTOP) -------------------------------------------------------------- */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    padding: 44px 2.5% 0 2.5%;
    margin-bottom : 59px;
}

header nav {
    width: 100%;
}

.logo {
    width: 61px;
    height: 19px;
}
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-style {
    padding: 44px 17px 0 17px;
    margin-right: 16.5px;
    font-weight: 400;
    font-size: 16px;
    border-top: solid 2px rgba(0, 0, 0, 0);
}
.nav-style:hover {
    color: #0065fc;
    border-top: solid 2px #0065fc;
    transition: 1s;
}

/* FOOTER (DESKTOP)-------------------------------------------------------------- */

footer {
    background-color: #F2F2F2;
    height: 225px;
    margin: 60px 2.5% 0 2.5%;
}
footer nav {
    height: auto;
    width: 71%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-top: 3%;
}
.footer-list {
    list-style-type: none;
    line-height: 2;
}
.footer-title {
    margin-bottom: 6%;
    font-size: 18px;
}

/* FORM (DESKTOP)-------------------------------------------------------------- */

section h1 {
    margin-bottom: 15px;
}

.subtitle {
    margin-bottom: 20px;
}

form {
    width: 430px;
    height: 49px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: none;
    border-radius: 15px 15px 15px 15px;
}
.location-field{
    width: 245px;
    padding-left: 17px;
    font-size: 18px;
    font-weight: 600;
    border: solid 1px #F2F2F2;
}
.location-label{
    width: 50px;
    display: block;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    background-size: cover;
    text-align: center;
    font-size: 1.1em;
    line-height: 3;
}

.search-button {
    width: 135px; 
    font-size: 18px;
    font-weight: 600;
    background-color: #0065fc;
    text-align: center;
    border: none;
    color: white;
    border-radius: 0px 15px 15px 0px;
    border: none;
}
.text-button {
    display: inline-block;
}
input.icon-button {
    display:none;
}

/* FILTERS (DESKTOP) -------------------------------------------------------------- */

.filters-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 41px;
}
.filters-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    width: 800px;
    height: 50px;
    align-items: center;
}
.filters-title {
    font-size: 16px;
    font-weight: 700;
    text-align: start;
    margin-right: 36px;
}
.filters-box {
    display: inline-block;
    border: solid 2px #D9D9D9;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    padding: 8px 18px 14px 18px;
    white-space: nowrap;
}
.filters-box:hover {
    background-color: #DEEBFF;
    background-size: cover;
    transition: 0.5s;
}
.filters-icon {
    margin-right: 10px;
    font-size: 1.4em;
    position: relative;
    top: 2px;
}
.filters-icon-border {
    padding: 4px 8px 5px 8px;
    margin-right: 11px;
    border: solid 1px #D9D9D9;
    border-radius: 25px;
    text-align: center;
    font-size: 0.7em;
}
.filters-info {
    align-items: center;
    margin-bottom: 39px;

}

/* ------------------------ACCOMODATION AND POPULAR SECTION (DESKTOP)-------------------------------------------------------------- */

.section-accomodations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}
.stars {
    font-size: 0.8em;
    width: 66px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
}

/* ACCOMODATION SECTION (DESKTOP) ----------------------------------------------------------*/

.accomodations-main {
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 0 3%;
}
.accomodations-title {
    margin: 6% 0 3.5% 0;
}
.accomodations-container {
    width: 100%;
    aspect-ratio: 1.87/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 7%;
    column-gap: 3.8%;
}
.accom-card-box {
    max-width: 246px;
    max-height: 199px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 25px rgba(0,0,0,8%);
}

.accom-card-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.accom-card-image {
    object-fit: cover;
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
    border: 0.3rem solid white;
    margin: 0rem auto;
}
.accom-card-list {
    height: 32%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    padding: 1% 0 5% 6.5%; 
}
.display-text {
    display: block;
    font-weight: 700;
    font-size: 18px;
    padding-top: 6%;
    padding-bottom: 6%;
}

/* POPULAR SECTION (DESKTOP) -----------------------------------------------------------*/

.popular-main {
    width: 26%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 0 2.5%;
}

.popular-container {
    width: 100%;
    height: 79%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popular-title-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 14% 0 8% 0;
}
.popular-title {
    margin: 0;
}
.pop-icon {
    color:#0065fc;
    font-size: 1.2em;
    text-align: end;
}
.pop-card-box {
    width: 100%;
    height: 144px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 25px rgba(0,0,0,8%);   
}
.pop-card-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.pop-card-image {
    width: 40%;
    height: 144px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    box-sizing: border-box;
    border: 0.3rem solid white;
    border-right: 0rem;
}
.pop-card-list {
    width: 51%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    line-height: 1.3;
    font-size: 14px;
    font-weight: 400;
    padding: 4% 2% 0 0;
}

h3+p {
    margin-top: 3%;
    font-size: 14px;
}

/* ACTIVITIES SECTION (DESKTOP) -------------------------------------*/

.activities-main {
    margin-top: 0;
}
.activities-container {
    width: 100%;
    aspect-ratio: 3/1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
}
.act-card-main {
    width: 22.5%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 0px 25px rgba(0,0,0,8%);
}
.act-card-image {
    width: 100%;
    height: 87.5%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
    margin: 0rem auto;
}
.act-card-title {
    padding-left: 6.3%;
    display: table-cell;
    vertical-align: middle;
}
.text-box {
    display: table;
    height: 12.5%;
    width: 100%;
}

figure {
    height: 100%;
}

/* RESPONSIVE --------- 768px <= PAD SCREENS <= 992px -------------- 
++++++++++++++
++++++++++++++
++++++++++++++
*/

@media only screen and (min-width: 769px) and (max-width: 992px) {

    /* BODY (PAD)-------------------------------------------------------------- */  
    
    .wrapper {
        max-width: 992px;
        min-width: 768px;
    }
    
    /* GLOBAL (PAD)-------------------------------------------------------------- */

    .sections-wrapper {
        padding: 0 6%;
    }

    /* HEADER (PAD)----------------------------------(blank)--------------------- */
   
    header {
         padding: 44px 6% 0 6%;
    }

    /* FOOTER (PAD)-------------------------------------------------------------- */
    
    footer {
        margin: 60px 6% 0 6%;
        padding: 0 2.5%;
    }

    footer nav {
        padding-left: 8%;
        padding-top: 3%;
    }
    /* FILTERS (PAD)-------------------------------------------------------------- */
   
    .filters-title {
        margin-right: 2%;
    }
    .filters-container {
        width: 770px;
    }

    /* ------------------------ACCOMODATIONS AND POPULAR SECTIONS (PAD) -------------------------------------------------------------- */
    
    .section-accomodations {
        flex-direction: column;
        margin-bottom: 7%;
    }

    /* ACCOMODATION SECTION (PAD) -------------------------------------------------------------- */ 

    .accomodations-main {
        width: 91%;
        height: 65.4%;
        padding: 0 4.5%;
        margin-bottom: 5%;
    }

    /* POPULAR SECTION (PAD) -------------------------------------------------------------- */

    .popular-main {
        width: 92%;
        height: 29%;
        padding: 0 4%;
    }
    .popular-title-flexbox {
        margin: 4.5% 0 4% 0;
    }
    .popular-container {
        height: auto;
        flex-direction: row;
        margin-bottom: 6%;
    }
    .pop-card-box {
        /*width: 252px;*/
        width: 31.5%;
        height: auto;
    }
    .pop-card-image {
        width: 37%;
    }
    .pop-card-list {
        width: 57%;
        height: 85%;
        font-size: 13px;
    }

    /* ACTIVITIES SECTION (PAD) -------------------------------------------------------------- */

    .activities-container {
        aspect-ratio: 3.29/1;
        margin-top: 34px;
    }
    .act-card-main {
        width: 21%;
    }
    .act-card-image {
        height: 79%;
    }
    .text-box {
        height: 21%;
    }
    .act-card-title {
        height: 21%;
        line-height:1;
    }
}

/* RESPONSIVE --------- MOBILE SCREENS <= 768px -------------- 
++++++++++++++
++++++++++++++
++++++++++++++
*/

@media only screen and (max-width: 768px) {
    
    /* BODY (MOBILE)-------------------------------------------------------------- */

    .wrapper {
        max-width: 768px;
        min-width: 340px;
    }

    /* GLOBAL (MOBILE) ---------------------------------------------------------------*/
    .sections-wrapper{
        padding: 0 5%;
    }

    /* HEADER (MOBILE)-------------------------------------------------------------- */

    header {
        flex-direction: column;
        align-items: center;
        margin-bottom : 31px;
        margin-top : 20px;
        padding: 0px;
    }
    .nav-box {
        width: 50%;
        padding: 48px 0 0 0;
    }
    .nav-container {
        width: 100%;
        justify-content: space-around;
    }
    .nav-style {
        display: inline-block;
        text-align: center;
        border-bottom: solid 3px rgba(0,0,0,0%);
        border-top: none;
        width: 100%;
        padding: 0 0 23px 0;
        margin-right: 0;
    }
    .nav-style:hover {
        border-bottom: solid 3px #0065fc;
        border-top: none;
    }

    /* FORM (MOBILE)-------------------------------------------------------------- */
    
    section h1 {
        line-height: 1.2;
        margin-bottom: 13px;
    }
    form {
        width: 100%;
        max-width: 332px;
        min-width: 310px;
        height: 49px;
    }
    .subtitle {
        margin-bottom: 36px;
    }
    .location-field{
        max-width: 232px;
        min-width: 210px;
        height: 100%;
    }
    .location-label{
        width: 50px;
        height: 100%;
        padding-top: 0;
    }
    .search-button {
        width: 50px; 
        height: 100%;
    }

    .text-button {
        display: none;
    }

    input.icon-button {
        display: inline-block;
    }
    
    /* FILTERS (MOBILE)-------------------------------------------------------------- */
    
    .filters-main {
        width: 100%;
        height: 153px;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 43px;
    }
    .filters-title {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .filters-container {
        width: 100%;
        height: 117px;
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 8.5%;
        column-gap: 4.2%;
    }
    .filters-box {
        width: 90%;
        height: 46px;
        text-align: start;
        line-height: 4.3;
        font-size: 11px;
        font-weight: 700;
        padding: 0 0 0 10%;
    }
    .filters-icon {
        margin-right: 9px;
        font-size: 1.5em;
    }
    .filters-info {
        margin-bottom: 36px;
    }
    /* ACCOMODATIONS AND POPULAR SECTION (MOBILE) -------------------------------------------------- */

    .section-accomodations {
        flex-direction: column-reverse;
        margin-bottom: 80px;
        padding: inherit;
    }

    /* ACCOMODATIONS SECTION (MOBILE)-------------------------------------------------------------- */
    
    .accomodations-container {
        display: flex;
        flex-direction: column;
        aspect-ratio: auto;
    }
    .accomodations-main {
        width: 90%;
        background-color: white;
        padding: 0 5%;
    }
    .accomodations-title {
        margin: 26px 0 20px 0;
    }
    .accom-card-box {
        max-width: none;
        max-height: none;
        width: 100%;
        height: auto;
        aspect-ratio: 1.65/1;
        margin-bottom: 3%;
    }
    .accom-card-list {
        line-height: 1.3;
        height: 75px;
        padding: 4px 0 11px 16px;
    }
    .accom-card-image {
        height: auto;
        max-height: 393px;
        min-height: 124px;
    }
    .display-text{
        display: none;
    }
    .half-paragraph {
        width: 50%;
    }

    /* POPULAR SECTION (MOBILE)-------------------------------------------------------------- */
    
    .popular-main {
        width: 90%;
        background-color: #F2F2F2;
        border-radius: 0px;
        padding: 0 5%
    }
    .popular-container {
        width: 100%;
        height: 454px;
        padding-bottom: 47px;
    }
    .pop-card-box {
        width: 100%;
        height: 144px;
    }
    .popular-title-flexbox {
        margin: 28px 0 26px 0;
    }
    .pop-card-list{
        padding: 16px 3% 12px 15px;
    }

    /* ACTIVITIES SECTION (MOBILE)-------------------------------------------------------------- */

    .activities-container {
        width: 100%;
        flex-direction: column;
        height: auto;
        margin: 2px 0 80px 0;
    }
    .act-card-main {
        width: 100%;
        aspect-ratio: 1.75/1;
        height: auto;
        margin-bottom: 5%;
    }
    .act-card-image {
        width: 100%;
        height: 70.5%;
        max-height: 276px;
        min-height: 134px;
    }
    .text-box {
        height: 29.5%;
    }

    /* FOOTER (MOBILE) -------------------------------------------------------------- */
    
    footer nav {
        flex-direction: column;
        height: auto;
        padding-left: 9%;
    }
    footer {
        height: 501px;
        margin-top: 0;
        padding: inherit;
        margin: 0;
    }
    .footer-title {
        margin: 10% 0 3% 0;
    }
}